In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('./movies_metadata.csv') 
df.shape

In [ ]:
df.index

In [ ]:
df.columns

__Exercise 1:__ Row selection with loc and iloc. Do the following two lines of code produce the same result?

    loc[1:50] 
    iloc[1:50] 
and 

    loc[:50, :5]
    iloc[:50, :5]

__Exercise 2:__ Create a data frame that contains the first 100 rows and first 3 columns of the original dataframe. Use at least two approaches.

__Exercise 3:__ Create a data frame that doesn't contain the last four un-named columns from the original dataframe. Use at least two approaches with loc and iloc.

### Handling missing data

Pandas uses two already-existing Python null values: the Python __None__ object, or the special floating- point __NaN__ value which is a special floating-point value recognized by all systems that use the standard IEEE floating-point representation. 

Pandas operations wtih NaN values: __isnull()__, __dropna()__, __notna()__, and __fillna()__

In [ ]:
df.isnull()

In [ ]:
df.isnull().sum()

In [ ]:
df.dropna().shape   #drop by rows by default with how='any' option; not in place

__Exercise 4:__ Drop in place all the columns with all NaN values.

Drop the columns with all NA.

In [ ]:
df = df.dropna(axis=1, how='all')

In [ ]:
titles = df.original_title
type(titles)

In [ ]:
titles.index

In [ ]:
sorted_df = df.sort_values(by = 'title')
sorted_df

__Homework Exercise 1:__ What is the max budget of all movies?

__Homework Exercise 2:__ How many movies have a budget over 100 million dollars?

__Homework Exercise 3:__ How many movies have a budget over 100 million dollars and has a rating higher than 7.5?

__Homework Exercise 4:__ What are the name and release date of the movie that has a rating higher than 9.9?

### Vectorized String Operations

Nearly all Pythonâ€™s built-in string methods are mirrored by a Pandas vectorized string method.

In [ ]:
data = ['peter', 'Paul', 'MARY', 'gUIDO', 'jiN']
names = pd.Series(data)
names

In [ ]:
names.str.capitalize()

In [ ]:
names.str.startswith('P')

__Homework Exercise 5:__ How many movies have a budget over 1 million dollars and name starts with 'Z'

__Exercise 5:__ Find all Comedy moivies that are produced after 2000 and with a vote average greater than 9.

### A simple movie recommander

The movie recommender example is a simplifed version from  https://www.kaggle.com/rounakbanik/movie-recommender-systems

The movies are ranked using the WR weighte rating metric.

__Step 1.__ select all romance movies that has not null vote_count and has not null vote_average.

__Step 2.__ Create a column that contain the year of the release date.

__Step 3.__ Calculate the mean of vote average

__Step 4.__Calculate the top 95% of the vote_counts column. It is the the minimum votes required to be qualified.

__Step 5.__ Create a new data frame that has movies which have top 0.95 vote_count and has only the 'title', 'year', 'vote_count', 'vote_average', 'popularity', 'genres' columns.

__Step 6.__ Calculate the wr column

__Step 7.__ Sort the dataframe based on the wr value and in desecending order.

__Step 8.__ Select the top 15 movies and display the 'title', 'year','vote_count', 'popularity', 'wr' columns.

__Step 9.__ Based on the steps above, write a function that takes an input strong of genre and return a data frame of top 10 most highly rated movies.